.header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    .title-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 1rem 0.5rem;
        height: 100%;

        .header-title {
            margin: 0;
            font-weight: 800;
            font-size: 16px;
        }

        .header-subtitle {
            margin: 0;
            font-weight: 700;
            font-size: 14px;
            color: #7d7d7d;
        }
    }
}